/* work sans font from google */  


  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@800&family=Work+Sans:wght@300;400;500;600;700&display=swap');

/* shared style */

  * {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }

  .btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
    border: 0;
    margin-top: 20px;
  }

  .section-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
  }

  .banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
  }

  /* header style */

  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav > ul{
    display: flex;
  }

  nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
  }
  nav li a{
    text-decoration: none;
    color: #424242;
  }

  /* banner related style */

  .banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
  }

  .banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700; 
  }

  .banner img{
    margin-top: 30px;
    width: 100%;
  }

  /* main styles */

  main{
    max-width: 1440px;
    margin: 70px auto;
  }

  /* teams style */

.teams-container{
    display: flex;
    align-items: center;
    width: 1620px;
}

.teams-img-container{
    display: gird;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    
}
.teams-content{
    padding-right: 70px;
    padding-right: 70px;
  
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick {
    color: #131313;
    font-weight: 500;
}
.teams-title .of-our {
    color:#131313 ;
    font-weight: 700;
}

.teams-title .feature {
    color:#FF900E ;
    font-weight: 700;
}

/* fact sections */
.facts-card-container{
  display: flex;
  justify-content: space-around;
}

 .facts-card-container .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px;
  margin-top: 100px;
}

.facts-card-container .card-stats{
  font-size: 2.8rem;
  color: #424242;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardtitle{
  columns: #727272;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5px;
}

/* sponsors styles */
.sponsor{
  margin-top: 180px;
  text-align: center;
}
.sponsor-img-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}



  /* responsive media query */
/* mobile device*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
  }

  /* tablet */
  @media screen and (min-width:576px) and ( max-width: 960px) {
    nav, .teams-container{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
  }