/* work sans font from google */  


  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@800&family=Work+Sans:wght@300;400;500;600;700&display=swap');

/* shared style */

  * {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }

  .btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
    border: 0;
    margin-top: 20px;
  }

  /* header style */

  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
  }

  nav > ul{
    display: flex;
  }

  nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
  }
  nav li a{
    text-decoration: none;
    color: #424242;
  }

  /* banner related style */

  .banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
  }

  .banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700; 
  }

  .banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
  }

  .banner img{
    margin-top: 30px;
    width: 100%;
  }

  /* responsive media query */
/* mobile device*/
  @media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
  }

  /* tablet */
  @media screen and (min-width:576px) and ( max-width: 960px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
  }